---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="kontakt">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Werde teil des Sparkle Squad's!</div>
    <div class="py-2">
      <text class="text-lg">
        Im Team sprechen wir hauptsächlich Deutsch, aber wir können auch auf Englisch, Russisch und Ukrainisch weiterhelfen. <br />
        TODO: Adresse usw.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-outline" href="mailto:dymel.tom@gmail.com">Schreib uns!</a>
    </div>
  </div>
</BaseLayout>
