/* App-wide styling */
body {
    background-color: white;
    color: black;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    margin: 0;
    padding: 2rem;
}